@media screen and (min-width: 768px){
  .menu-bar{
    display:none;
  }
  .menu-bar li{
    display:none;
  }

  .header .header-list{
    display: block;
  }
  .header .header-list li{
    display: inline-block;
  }
  .burger-btn{
    display: none;
  }

  .footer-list{
    display: flex;
    flex-wrap: wrap;
    float: right;
  }
  .footer-list li{
    float: left;
    padding-left: 20px;
  }
  .footer{
    min-height: 100px;
  }
}

@media screen and (max-width:530px){
  .copy-container h1{
    font-size: 80px;
  }
  .about p{
    padding: 10px 50px;
  }
}